 /* .menu {
    background: #47BCC2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width:100px;
} */

@media only screen and (min-width:601px) {
  .flex-container {
      display: flex;
      flex-direction: column-reverse;
  }
  .flex-container div {
      margin: 5px;
  }
}

.form-control {
  background:white;
  border-radius: 10px;
  
}



.sub {
  border-radius: 3px;
}


.barraazul  {
    background-color: #B9E6E8 ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height:30px;
    margin-top: 5px;
    border-radius: 10px;
}

  



 body {
  background: #D8F1F2;
} 

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    text-align: center;
    
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    text-align: center;
    
}


 
ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:  #47BCC2;
  border-radius: 10px;
  display: flex;
  align-items: center; 
  /* align-itens alinha os itens do menu no centro */
  
}

.cadastrar {
  align-items: center;
  text-align: center;
  font-family:cursive ;
  color: red;
}

li {
  float: left;
  
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color:#47BCC2;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px #47BCC2;
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.patalogo {
  margin-left: auto;
    margin-right: auto;
}


/* #47BCC2 cor mais escura da  pagina
B9E6E8 div de baixo
D8F1F2 pagina*/