.container-fluid {
    
    text-align: center;
  
  
}

.navbar navbar-brand,navbar-toggler,navbar-toggler-icon{
    background-color: blue;
} 

body {
    background: #D8F1F2;
  } 
  
.form-control {
    color:white;
}

.carousel-inner{
  align-items: center;
  border-radius: 20px;
  justify-items: center;
  min-width: 500px;
}
h3 {
  text-align: center;
}

.badge {
  margin-right: 10px;
  margin-left: 10px;
  
}
.carousel-item {
  align-items: center;
}
marquee{
    font-size: 30px;
    font-weight: 800;
    color: black;
    font-family: sans-serif;
    }